<div class="dashboard">
  <div>
    <header>
      <h1>Dashboard</h1>
      <app-filter class="filter" [data]="filterPlaces"></app-filter>
      <app-filter class="filter" [data]="filterTypes"></app-filter>
      <app-filter class="filter" [data]="filterMoment"></app-filter>
      <app-filter class="filter" [data]="filterGenders"></app-filter>
      <app-range-slider class="range-slider filter"></app-range-slider>
      <span class="buttons">
        <button id="clean-filters-btn" (click)="onClickToCleanFilter()">Limpar Filtros</button>
        <button id="filter-btn" (click)="onClickToFilter()">Filtrar</button>
      </span>
    </header>
    <main>
      <div class="graphics">
        <div>
          <h2>Momento</h2>
          <span>
            <app-donut-chart-race [momentChartData]="data$ | async"></app-donut-chart-race>
          </span>
        </div>
        <div>
          <h2>Faixa Etária</h2>
          <span>
            <app-bar-chart [ageChartData]="data$ | async"></app-bar-chart>
          </span>
        </div>
        <div>
          <h2>Horário</h2>
          <span>
            <app-heatmap-chart [heatmapChartData]="data$ | async"></app-heatmap-chart>
          </span>
        </div>
        <div>
          <h2>Gênero</h2>
          <span>
            <app-bar-chart-gender [genderChartData]="data$ | async"></app-bar-chart-gender>
          </span>
        </div>
      </div>
      <aside>
        <h2>Ocorrências</h2>
        <span>
          <app-occurrence-card class="occurrence-container" [originalData]="data$ | async"></app-occurrence-card>
        </span>
      </aside>
    </main>
  </div>
</div>