.dashboard {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  padding: 40px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 480px) {
  .dashboard {
    padding: 20px 8px;
  }
}

.dashboard > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  height: 90%;
  width: 90%;
  max-width: 1719px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px 8px;
}

@media screen and (max-width: 480px) {
  .dashboard > div {
    height: 100%;
    width: 100%;
  }
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: min(5vw, 48px);
  width: 100%;
  min-height: 228px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #00000040;
  padding: 29px 60px 40px 60px;
}

header > h1{
  font-size: clamp(28px, 2.5vw, 48px);
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37400001287460327px;
  text-align: left;
  color: #5B43D9;
  flex-grow: 8;
  flex-basis: 100%;
  margin-bottom: 4px;
  overflow-y: hidden;
}

header > span{
  height: 70px;
}

.filter{
  flex-grow: 1;
  flex-basis: 185px;
}

.buttons{
  min-width: 230px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: end;
  align-items: center;
  flex-grow: 3;
  flex-basis: 240px;
}

@media screen and (max-width: 480px) {
  .buttons{
    min-width: 50px;
  }
}

button{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: center;
  cursor: pointer;
}
button:hover{
  opacity: .8;
}
button:active{
  filter: saturate(0.5);
}

#filter-btn{
  width: 119px;
  height: 41px;
  padding: 8px, 24px, 8px, 24px;
  border-radius: 8px;
  border: none;
  background-color: #5B43D9;
  color: #fff;

}

#clean-filters-btn{
  width: 100px;
  height: 25px;
  border-bottom: 1px solid #5B43D9;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
  background: transparent;
  color: #5B43D9;
}

main{
  width: 100%;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 2px;
}

.graphics{
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  flex-grow: 6;
  flex-basis: 600px;
}

aside {
  flex-grow: 1;
  flex-basis: 240px;
}

.graphics div{
  flex-grow: 1;
  flex-basis: 420px;
}

.graphics div, aside{
  min-height: 320px;
  box-shadow: 0px 1px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #f9f9f9;
}

.graphics h2, aside h2{
  padding: min(.8vh, 15px) min(5vw, 29px);
  font-size: clamp(20px, 1vw, 32px);
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #5B43D9;
  overflow-y: hidden;
}

.graphics > div > span, aside > span{
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

@media screen and (max-width: 480px) {
  .graphics div, aside{
    max-width: 92vw;
  }
}

header > div > div > app-range-slider{
  width: 100%;
}

aside{
  max-height: 100vh;
}

aside > span{
  padding: 15px;
  overflow-y: auto;
  align-items: start;
}

.occurrence-container{
  width: 100%;
}

@media screen and (min-width: 1344px) {
  aside{
    max-height: 794px;
  }
}
@media screen and (max-width: 998px) {
  aside{
    max-height: 325px;
  }
}
