<div class="chart-container">
  <ng-container *ngIf="momentChartData === null; else loading">
    <p class="message loading">CARREGANDO...</p>
  </ng-container>

  <ng-template #loading></ng-template>

  <ng-container *ngIf="momentChartData?.length === 0; else content">
    <p class="message">NÃO HÁ DADOS</p>
  </ng-container>

  <ng-template #content>
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions"
      [(update)]="updateFlag" [oneToOne]="oneToOneFlag" [runOutsideAngular]="runOutsideAngular"></highcharts-chart>
    <span>
      <p>No momento</p>
      <p>Após o ocorrido</p>
    </span>
  </ng-template>
</div>
