*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

::-webkit-scrollbar-track {
  background-color: #F3EEFF; 
}
::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #5c43d97a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c43d9ba;
}
::-webkit-scrollbar-thumb:active {
  background: #5B43D9; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.loading{
  position: absolute;
  top: 20px;
} 

.loading, .message{
  color: #888; 
  font-size: 14px;
  text-align: center;
}

.chart-container span p {
  color: #fff;
  width: 140px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
}

.chart-container  span {
  background: transparent;
  position: absolute;
  bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}