mat-slider {
  width: 100%;
}

.mdc-slider{
  margin: 0;
}

.range-slider{
  display: flex;
  flex-direction: column;
  width: max(100%, 185px);
  max-height: 70px;
  gap: 11px;
  flex-grow: 1;
  flex-basis: 185px;
}

.range-slider label{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.range-slider > span {
  display: flex;
  justify-content: space-between;
}

.range-slider p{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #CAC5CA;
}

.range-slider > div{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
