<div class="range-slider">
  <span>
    <label>Faixa Etária</label>
    <p>{{ startValues[0] }} - {{ startValues[1] }}</p>
  </span>
  <div>
    <mat-slider [min]="minValue" [max]="maxValue">
      <input [(ngModel)]="startValues[0]" matSliderStartThumb (change)="onSliderChange()">
      <input [(ngModel)]="startValues[1]" matSliderEndThumb (change)="onSliderChange()">
    </mat-slider>
  </div>
</div>