<div class="filter">
  <label for="{{ data.key }}">{{ data.label }}</label>
  <select name="{{ data.key }}" id="{{ data.key }}" [(ngModel)]="selectdValue" (change)="onChangeSelect()">
    <option *ngFor="let item of data.arrayOptions; let i = index" [ngValue]="data.arrayValues[i]">{{ item }}</option>
  </select>
</div>