.filter{
  display: flex;
  flex-direction: column;
  width: max(100%, 185px);
  flex-basis: 20%;
  gap: 11px;
}

label{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

select{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #F3EEFF;
  border: none;
  padding: 0 16px;
}

option{
  padding: 0;
}

select:first-of-type{
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #453A8D;
}