.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border-top: 0.5px solid #F9F9F945; */
  border-bottom: 0.5px solid #f9f9f945;
  border-left: none;
  border-right: none;
  padding: 16px 0;
}

.card > span{
  display: flex;
  justify-content: space-between;
  padding: 0 min(38px, 1vw);
}

.card > div{
  display: flex;
  justify-content: start;
  color: #f2f2f2;
  gap: 8px;
  padding: 0 min(38px, 1vw);
}

.card h3{
  font-size: 15px;
  font-weight: 900;
  color: #f2f2f2;
}

.card h4{
  font-size: 15px;
  font-weight: 400;
  color: #9784FF;
}
.card p{
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #f2f2f2;
}

.type-flag{
  color: #9784FF;
  padding: 8px;
  border-radius: 30px;
  background: #0000004D;
  font-size: 12px;
  font-weight: 400;
}