<div>
  <ng-container *ngIf="refactorData === null; else loading">
    <p class="message loading">CARREGANDO...</p>
  </ng-container>

  <ng-template #loading></ng-template>

  <ng-container *ngIf="refactorData?.length === 0; else content">
    <p class="message">NÃO HÁ DADOS</p>
  </ng-container>

  <ng-template #content>
    <div class="card" *ngFor="let item of refactorData">
      <span>
        <h3>IDD234234{{ item['_id'][0] }}{{ item['_id'][1] }}</h3>
        <h4>{{ item['created_at'] }}</h4>
      </span>
      <div>
        •<p>{{ item.place }}</p>
      </div>
      <div>
        <span class="type-flag">{{ item.type[0] }}</span>
      </div>
    </div>
  </ng-template>
</div>